<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span>Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Location Id</span></dt>
                <dd>
                    <span>{{location.locationId}}</span>
                </dd>
                <dt><span>Street Address</span></dt>
                <dd>
                    <span>{{location.streetAddress}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{location.postalCode}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{location.city}}</span>
                </dd>
                <dt><span>State Province</span></dt>
                <dd>
                    <span>{{location.stateProvince}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <div *ngIf="location.countryId">
                        <a [routerLink]="['/country', location.countryId, 'view']">{{location.countryId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
