<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobHistory">
            <h2><span>Job History</span> {{jobHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{jobHistory.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{jobHistory.endDate}}</span>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="jobHistory.departmentId">
                        <a [routerLink]="['/department', jobHistory.departmentId, 'view']">{{jobHistory.departmentId}}</a>
                    </div>
                </dd>
                <dt><span>Job</span></dt>
                <dd>
                    <div *ngIf="jobHistory.jobId">
                        <a [routerLink]="['/job', jobHistory.jobId, 'view']">{{jobHistory.jobId}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="jobHistory.employeeId">
                        <a [routerLink]="['/employee', jobHistory.employeeId, 'view']">{{jobHistory.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-history', jobHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
